@include mq(medium) {
	.contact .view-animate {
		display: flex;
		justify-content: center;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
	}
}


.contact-wrapper {
	max-width: 640px;
	padding: 12px;
	margin-bottom: 85px;
	margin-top: 25px;
	width: 100%;
	.errorMessage.ng-active {
		color: #ff9494;
		padding: 6px 0;
		width: 100%;
	}
	.input-wrapper {
		position: relative;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	.cta {
		margin: 8px 0;
		height: 38px;
		float: right;
	}
	textarea {
		min-height: 120px;
	}
	input:not(.cta),
	textarea {
		color: $black;
		padding: 6px;
	}
	label,
	input:not(.cta),
	textarea {
		width: 100%;
		margin-bottom: 12px;
	}
	@include mq(medium) {
		.errorMessage.ng-active {
			padding: 6px;
			width: 150px;
			border: 1px solid;
			border-radius: 5px 10px;
			position: absolute;
			right: -162px;
			top: 50%;
			transform: translateY(-50%);
		}
		label {
			@include span(4);
			padding: 6px;
		}
		input:not(.cta),
		textarea {
			@include span(8 last);		
		}
	}
}