.contact-wrapper {
	padding: 12px;
	.contactForm {
		max-width: 640px;
		display: flex;
		justify-content: space-between;
		margin: auto;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.message {
		margin: auto;
		padding: 12px 0;
		line-height: 1;
		text-align: center;
	}
	.errorMessage.ng-active {
		color: #ff9494;
		& ~ input, 
		& ~ textarea {
			background: #ff9494;
		}		
	}
	.input-wrapper {
		display: flex;
		flex-direction: column;
		padding-bottom: 24px;
	}
	.cta {
		height: 38px;
		margin: 0 auto 0 0;
	}
	textarea {
		min-height: 120px;
	}
	input:not(.cta),
	textarea {
		color: $black;
		padding: 6px;
	}

	@include mq(small) {
		.contactForm {
			flex-direction: row;
			align-self: center;
		}
		.input-wrapper {
			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;
			label {
				width: 150px;
			}
			input,
			textarea {
				align-self: flex-end;
				flex: 1;
			}
		}
		.errorMessage.ng-active {
			width: 100%;
			text-align: right;
		}
		.cta {
			margin-left: auto;
			margin-right: 0;
		}
	}


	@include mq(medium) {
		height: 75vh;
		display: flex;
		flex-direction: column;
	}
}


.no-flexbox .contact-wrapper {
	@include mq(small) {
		.input-wrapper {
			display: block;
			label {
				max-width: 20%;
				margin-right: 5%;
			}
			input, 
			textarea {
				width: 75%;
			}
			label,
			input,
			textarea {
				float: left;
			}
		}
	}
}