//===============================
// Globals
//===============================

// The Elements
p {
	font-size: 1em;
	margin-bottom: 20px;
}

// Compass loop - h1 - h3 or what you'd like
#{ headings(1,3) } {
	margin-top: 0;
	font-weight: normal;
}

h1 {
	line-height: 120%;
	margin-bottom: 20px;
}

h3 {
	@include adjust-font-size-to(18px);
	margin-bottom: rhythm(1, 18px);
}
