//===============================
// Globals
//===============================

// The Elements
p {
	@include adjust-font-size-to(16px);
	// margin-bottom: rhythm(1, 20px);
}

#{ headings(1,3) } {
	font-weight: normal;
}

h1 {
	// line-height: 120%;
	// margin-bottom: 20px;
}

h2 {
	// @include adjust-font-size-to(26px);
	// margin-bottom: rhythm(1, 20px);
}


// ng-view 
.view-animate {
	opacity: 1;
}
.view-animate.ng-enter {
	-webkit-animation: fadeIn 1.6s;
	animation: fadeIn 1.6s;
}
.view-animate.ng-enter-active {
	opacity: 1;
}

// ng-view loading screen
.spinner-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: $black;
	z-index: 998;
}
.spinner {
	position: absolute;
	top: 46%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	width: 100%;
}
.spinner-wrapper.fade {
	opacity: 0;
	z-index: -20;
	-webkit-animation: fadeOut 1.6s;
	animation: fadeOut 1.6s;
}

.spinner-title {
	text-align: center;
	-webkit-animation: fadeInOut 1.6s infinite;
	animation: fadeInOut 1.6s infinite;
}
.chasing-dots-spinner {
	width: 65px;
	height: 65px;
	margin: 0 auto;
}
.dot1, .dot2 {
	background: $white;
}


//===============================
// Animations
//===============================

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}	
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0%	{ 
		opacity: 1; 
		z-index: 998; 
	}
	100% { 
		opacity: 0;
		z-index: -20; 
	}
}
@keyframes fadeOut {
	0% { 
		opacity: 1; 
		z-index: 998; 
	}
	100% { 
		opacity: 0; 
		z-index: -20; 
	}
}


@-webkit-keyframes fadeInOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeInOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}



/* CTA */
.cta,
input.cta {
	clear: both;
	border: 1px solid $font-color-accent;
	background: $font-color-accent;
	display: block;
	padding: 0 12px;
	width: 150px;
	margin: auto;
	transition: background ease 0.2s;
	@include mq(medium) {
		position: relative;
		top: 60px;
	}
	&:hover {
		background: transparent;
	}
	p {
		margin: 8px 0;
		color: $white;
	}
}