.home {
	.intro-wrapper {
		padding: 12px;
		.intro_p {
			max-width: 670px;
		}
	}
	.title_h1 {
		@include adjust-font-size-to(26px);
		margin-bottom: rhythm(0.5, 14px);
		@include mq(medium) {
			@include adjust-font-size-to(32px);
		}
	}

	.gallery-wrapper {
		display: flex;
		flex-grow: 1;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.gallery-item {
		margin: 36px 0;
		width: 100%;
		
		img {
			padding: 0 12px;
		}

		@include mq(small) {
			width: 50%;
		}
		
		@include mq(medium) {
			width: 33%;
			margin: 0;
			padding: 12px;
			position: relative;
			&:hover {
				img {
					filter: brightness(50%);
					transition: filter ease-in-out 0.1s;
				}
				.gallery-info {
					display: block;
					color: $font-color-primary;
		            animation: fadeIn 0.3s;
				}
			}
			img {
				padding: 0;
			}
		}
	}
	.gallery-info {
		padding: 12px;
		.projectTitle,
		.projectSummary {
			margin: 0;
			margin-bottom: rhythm(0.5, 14px);
		}
		
		@include mq(medium) {
			z-index: 20;
			display: none;
			position: absolute;
			width: 90%;
			left: 18px;
			top: 50%;
			transform: translateY(-50%);

			.projectTitle,
			.projectSummary {
				margin-top: 1em;
			}
		}
	}
}
