.navigation-wrapper {
	width: 100%;
	// position: relative;
	// z-index: 999;

	.title {
		display: inline-block;
		padding-left: 12px;
		color: $white;
		&::after {
			content: '';
			border-bottom: 1px solid;
			height: 0;
			display: block;
			width: 20px;
		}
	}
	.menuHamburger {
		display: inline-block;
		float: right;
		border: 1px solid $font-color-primary;
		border-radius: 3px;
		@include adjust-font-size-to(18px);
		cursor: pointer;
		padding: 2px;
		margin-right: 12px;
	}
	.nav {
		padding: 0;
		text-align: center;
		display: none;
		li {
			@include adjust-font-size-to(18px);
		}
		li:first-child {
			margin-bottom: rhythm(1, 20px);			
		}
	}
	@include mq(small) {
		.menuHamburger {
			display: none;
		}
		.nav {
			display: inline-block;
			float: right;
			margin-bottom: rhythm(1, 20px);
			text-align: left;
			padding: 0 12px;
			li {
				float: left;
				margin: 6px 0 0 20px;
			}
		}
	}
	@include mq(medium) {
		.title {
			@include adjust-font-size-to(28px);
		}
		.nav li {
			@include adjust-font-size-to(22px);
		}
	}
}
