.navigation-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	.title {
		margin-right: auto;
		padding-left: 12px;
		color: $white;
		a, a:hover,	a:visited, a:active {
			color: $white;
		}
		&::after {
			content: "";
			border-bottom: 1px solid;
			height: 0;
			display: block;
			width: 20px;
		}
	}
	.menuHamburger {
		border: 1px solid $font-color-primary;
		border-radius: 3px;
		@include adjust-font-size-to(18px);
		cursor: pointer;
		padding: 2px;
		margin-right: 12px;
	}
	.nav {
		padding: 0;
		text-align: center;
		width: 100%;
		@media only screen and (max-width: $break-medium - 1) {
			display: none;
		}
		li {
			@include adjust-font-size-to(18px);
		}
		li:first-child {
			margin-bottom: rhythm(1, 20px);			
		}
	}
	@include mq(small) {
		.menuHamburger {
			display: none;
		}
		.nav {
			display: flex !important;
			width: auto;
			margin-bottom: rhythm(1, 20px);
			padding: 0 12px;
			li {
				margin: 6px 0 0 20px;
			}
		}
	}
	@include mq(medium) {
		.title {
			@include adjust-font-size-to(28px);
		}
		.nav li {
			@include adjust-font-size-to(22px);
		}
	}
}
