/*Global Settings*/
.img {
	content: "";
	display: inline-block;
	vertical-align: middle;
	font: 0/0 serif;
	color: transparent;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-ms-interpolation-mode: bicubic;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	.innerImg {
		display: block;
		height: 0;
	}
}


.chiefProfile {
	background: image-url('mc-wins.png') no-repeat right;
	background-size: contain;
}
.lockeProfile {
	background: image-url('locke-wins.png') no-repeat left;
	background-size: contain;
}

.week1 {
	&:before {
	background: image-url('week1-bg.jpg') no-repeat center;
	background-size: contain;
	}
}
.week2 {
	&:before {
	background: image-url('week2-bg.jpg') no-repeat center;
	background-size: contain;
	}
}
.week3 {
	&:before {
	background: image-url('week3-bg.jpg') no-repeat center;
	background-size: contain;
	}
}
.week4 {
	&:before {
	background: image-url('week4-bg.jpg') no-repeat center;
	background-size: contain;
	}
}

.hashImg {
	background: image-url('hashL.png') repeat left center;
	background-size: contain;
}