/*============================
* Video Lightboxes
*===========================*/


.video-wrapper {
	@include clearfix;
	.video {
		margin: 5px;
		@include span(6 split);
		position: relative;
		height: 0;
		overflow: hidden;
		padding-bottom: 27.2%;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// display: none;
		}
	}
	@media only screen and (min-width: 720px) {
		padding: 15px;
		.video {
			@include span(3 split);
			padding-bottom: 13.1%;
		}
	}
}