/*======================
* Weeks
*======================*/

// Default Styles:
.week-wrapper {
	height: 200px;
	color: $white;
	overflow: hidden;
	position: relative;
	transition: height 0.5s ease;
	border-top: 2px solid #3E3E3E;
	background: #000;
	.term {
		display: none;
	}
	// closed for voting layer - closed / winner
	&:before {
		top: -10px;
		z-index: 1;
		left: -10px;
		content: '';
		right: -10px;
		bottom: -10px;
		display: block;
		position: absolute;
		background-size: cover;
		background-position: top;
		filter: blur(5px);
	}
	&:after {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		width: 100%;
		content: '';
		display: block;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.75);
	}
	
	// Voting Form
	.chooseLocke,
	.chooseChief {
		display: none;
		line-height: 1.2;
		.twitterHash {
			display: block;
			@media only screen and (min-width: 720px) {
				display: inline;
			}
		}
	}
	.votingInfo-wrapper {
		display: none;
		left: 0;
		right: 0;
		bottom: 0;
		color: $white;
		min-height: 136px;
		position: absolute;
		padding: 13px 14px 20px; 
		background-color: rgba(0, 62, 93, 0.75);
		z-index: 3;
		.title {
			width: 100%;
			margin: 0 0 28px;
			text-align: center;
			font-size: em(26px);
			@media only screen and (min-width: 720px) {
				font-size: em(35px);
				margin: 14px 0 34px;
			}
			line-height: 1.2;
		}
		.choiceResponse-wrapper {
			text-align: center;
			@extend %verticalCenter;
			right: 0;
			left: 0;
			@media only screen and (min-width: 720px) {
				.chooseLocke,
				.chooseChief {
					font-size: em(44px);
				}
			}
		}
		.form-wrapper {
			input[type="radio"] {
				display: none;
			}
			.label-wrapper {
				@include span(5 no-gutter);
				min-height: 45px;
				position: relative;
				background-color: $background-color-voteButton;
				@media only screen and (max-width: 719px) {
					width: 100%;
					float: none;
					max-width: 393px;
					margin: 0 auto;
				}
				&:hover {
					background-color: #00aaff;
				}
				*{
					cursor: pointer;
				}
				.socialIcon {
					@extend %verticalCenter;
					&.first {
						left: 17px;
					}
					&.last {
						right: 17px;
					}
					@media only screen and (max-width: 749px) {
						display: none;
					}
				}
				label {
					text-align: center;
					width: 100%;
					color: #98d0f1;
					font-size: em(25px);
					font-family: $font-family-secondary;
					@extend %verticalCenter;
					display: inline;
					@media only screen and (min-width: 720px) {
						font-size: em(30px);
					}
					.twitterHash {
						display: inline;
						color: $white;
					}
				}
			}
			.chooseIcon {
				@include span(2 split);
				margin-top: 14px;
				@media only screen and (max-width: 719px) {
					float: none;
					width: 157px;
					margin: 16px auto;
					display: block;
				}
			}
		}
	}

	// Voting Open State - voting
	&.votingOpen {
		border-top: 2px solid $background-color-voteButton;
		&:before {
			filter: none;
			@media only screen and (max-width: 719px) {
				top: 0;
				// z-index: -1;
				left: 0;
				content: '';
				right: 0;
				bottom: 0;
				display: block;
				position: absolute;
				background-size: 146%;
				background-position: top;
			}
		}
		&:after {
			display: none;
		}
		.lock {
			background: image-url('locked-no.svg');
		}
		.results-wrapper {
			display: none;
		}
		.votingInfo-wrapper {
			display: block;
			min-height: 299px;
			@media only screen and (min-width: 720px) {
				min-height: 164px;
			}
		}
	}

	// Blade open state - all
	&.open {
		height: 464px;
		// TEMP
		.menuToggle {
			transform: rotate(180deg);
		}
		.chiefProfile,
		.lockeProfile {
			@media only screen and (min-width: 720px) and (max-width: 849px) {
				display: none !important;
			}
		}
	}

	// Week toggle bar
	.toggle-wrapper {
		margin: 0;
		z-index: 99;
		cursor: pointer;
		position: relative;
		display: inline-block;
		.week{
			font-size: em(13px);
			padding: 0 8px 0 0;
			margin: 12px 0;
			float: left;
			@media only screen and (min-width: 720px) {
				font-size: em(20px);
			}
		}
		.menuToggle {
			display: none;
			margin-top: -3px;
			float: left;
			@extend %verticalCenter;
		}
	}

	.lock {
		background: image-url('locked-yes.svg');
		height: 40px;
		width: 40px;
		margin-right: 16px;
		float: left;
		content: '';
	}

	// Profile Pictures
	.chiefProfile,
	.lockeProfile {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		display: none;
		z-index: 3;
		@media only screen and (max-width: 719px) {
			display: none !important;
		}
	}
}

// Results Defaults
.results-wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	z-index: 3;
	@extend %verticalCenter;
	.title {
		font-size: em(26px);
		line-height: 1.2;
	}
	@media only screen and (min-width: 720px) {
		.title,
		.subtitle {
			margin: 0 auto 15px;
		}
		.title {
			font-size: em(34px);
		}
		.subtitle {
			font-size: em(25px);
		}
	}
	.leftFrame,
	.rightFrame,
	.lockeWins,
	.chiefWins {
		display: none;
	}
	.leftFrame,
	.rightFrame {
		@media only screen and (max-width: 719px) {
			display: none !important;
		}
	}

	// Stats
	.stats-wrapper {
		display: none;
		margin: 20px auto 0;
		max-width: 431px; // Same as baseBar
		.hashTag {
			float: left;
			padding-left: 20px;
		}
		.percent {
			float: right;
		}
		.hashTag,
		.percent {
			font-size: em(25px);
			margin: 18px 0;
		}
		.hashImg {
			content: '';
			position: absolute;
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2
		}
		@media only screen and (min-width: 720px) {
			.hashTag {
				font-size: em(35px);
			}
			.percent {
				font-size: em(44px);
			}
		}
		.loser-wrapper {
			.hashTag {
				color: $font-color-locke;
			}
			.bar.loser {
				background-color: $font-color-locke;
			}
		}
		.winner-wrapper {
			margin-bottom: 20px;
		}
	}
	.bar-wrapper {
		margin-left: 22px;
		clear: both;
		height: 10px;
		transform: skew(-45deg, 0);
		background-color: rgba(0, 0, 0, 0.4);
		.result-bar {
			content: '';
			height: 10px;
			background-color: $font-color-locke;
			width: 0%;
		}
	}
	.baseBar {
		clear: both;
		width: 100%;
	}
}



// If Winner
.week-wrapper {
	&.hasWinner {
		cursor: pointer;
		// TERMINEE copy
		.term {
			display: inline;
		}
		.menuToggle {
			display: inline-block;
		}
	}
	&.chief,
	&.locke {
		&:before {
			filter: blur(5px);
		}
	}
	// profile images
	&.chief {
		.chiefProfile {
			right: 0;
			display: block;
		}
	}
	&.locke {
		.lockeProfile {
			left: 0;
			display: block;
		}
	}
	// Blade open only 
	&.winner {
		.results-wrapper {
			margin: 0;
			max-width: 516px;
			display: inline-block;
			width: 90%;
			.leftFrame,
			.rightFrame {
				display: inline-block;
				@include span(30px no-gutter);
			}
			.results {
				@media only screen and (min-width: 720px) {
					@include span(88.37% no-gutter);
				}
			}
			&.chief {
				left: 48px;
				.winner-wrapper {
					.hashTag,
					.percent {
						color: $font-color-chief;
					}
					.result-bar {
						background-color: $font-color-chief;
					}
				}
			}
			&.locke {
				right: 48px;
				.winner-wrapper {
					.hashTag,
					.percent {
						color: $font-color-locke;
					}
					.bar.winner {
						background-color: $font-color-locke;
					}
				}
				.loser-wrapper {
					.hashTag {
						color: $font-color-chief;
					}
					.result-bar {
						background-color: $font-color-chief;
					}
				}
			}
			&.chief,
			&.locke {
				z-index: 99;
				@media only screen and (max-width: 849px) {
					left: 0;
					right: 0;
					margin: 0 auto;
				}
				@media only screen and (min-width: 720px) {
					top: 58%;
				}
			}
		}
	}
}