//==================================================
//	Global Configs
//==================================================

// Base Colors
 
 $black       : #222 !default;
 $white		  	: #FFF !default;


// Color Usage


// Text

$base-font-size			: 14px !default;
$base-line-height		: 16px !default;

// Media Queries

$break-small            : 320px;
$break-medium           : 540px;
$break-large            : 1020px;



// Fonts

// $fonts-folder						 : '../fonts';

// $font-fallBacks          : Segoe, Tahoma, Verdana, Arial, sans-serif;

// $font-family-primary	   : 'Segoe UI Light',  $font-fallBacks;
// $font-family-secondary	 : 'Segoe UI Regular', $font-fallBacks;
// $font-family-accent		   : 'Segoe UI Semibold', $font-fallBacks;







