//==================================================
//	Global Configs
//==================================================

// Base Colors
 
 $black     : #3e3e3e !default;
 $white		  : #FFFFFF !default;

// Theme Colors

/*Name the colors here -- http://chir.ag/projects/name-that-color/  */
 $lochmara		: #0078d7 !default;
 $doveGray    : #737373 !default;
 $dustyGray		: #969696 !default;
 $lunarGreen	: #373A36 !default;
 $mercury			: #E5E5E5 !default;
 $pumice			: #CDD1CE !default;
 $silver      : #CCCCCC !default;


// Color Usage

$font-color-primary       				: $lunarGreen;
$font-color-secondary							: $mercury;
$font-color-accent        				: $lochmara;

$font-color-locke									: #43b9ec;
$font-color-chief									: #e78d23;

$background-color-voteButton			: #1072a3;


// Text

$base-font-size			: 14px !default;
$base-line-height		: 16px !default;

// Media Queries

$break-small            : 320px;
$break-medium           : 540px;
$break-large            : 1000px;



// Fonts

$fonts-folder						 : '../fonts';

$font-family-primary	   : Arial;
$font-family-secondary	 : 'Fjalla One', sans-serif;
$font-family-accent		   : 'Fjalla One', sans-serif;







