<section ng-controller="SingleProjectController" class="singleProject-wrapper">

	<h1 class="projectTitle">{{ project.projectTitle }}</h1>

	<nav class="projectNavigation-wrapper">
		<div class="prev-wrapper" ng-click="previousProject()">
			<button class="prevButton">
				<i></i><i></i>
				<span class="screenReader">Previous</span>
			</button>
		</div>
		<div class="next-wrapper" ng-click="nextProject()">
			<button class="nextButton">
				<i></i><i></i>
				<span class="screenReader">Next</span>
			</button>
		</div>
	</nav>

	<img ng-src="{{ project.heroImg }}" alt="{{ project.heroAlt }}">

	<div class="summary">
		<p ng-repeat="details in project.projectDetails">{{ details }}</p>
	</div>

	<ul class="languages_ul">
		<li ng-repeat="language in project.languages">{{ language }}</li>
	</ul>



<!-- 	<aside class="projectImage-wrapper" ng-if="project.projectImages">
		<img ng-repeat="image in project.projectImages" 
			ng-src="{{ image }}" alt="Screenshot of project">
	</aside> -->

	<a class="cta" ng-href="{{ project.websiteUrl }}" ng-if="project.websiteUrl" target="_blank">
		<p>Visit the live site.</p>
	</a>
	
</section>