<section ng-controller="SingleProjectController">

	<nav class="projectNavigation-wrapper">
		<div ng-click="previousProject()">Previous</div>
		<div ng-click="nextProject()">Next</div>
	</nav>

	<h1>{{ project.projectTitle }}</h1>
	<img ng-src="{{ project.heroImg }}" alt="{{ project.heroAlt }}">

	<ul class="languages_ul">
		<li>Languages / Tools Used: </li>
		<li ng-repeat="language in project.languages">{{ language }}</li>
	</ul>

	<p>Quick summary of project here</p>
	
	<aside class="features-wrapper" ng-if="project.features">
		<div ng-repeat="feature in project.features">
			<div class="featureCopy">
				<h3>{{ feature.title }}</h3>
				<p>{{ feature.about }}</p>
			</div>
			<figure class="featureImg-wrapper">
				<img ng-src="{{ feature.img }}" alt="{{ feature.alt }}">
			</figure>
		</div>
	</aside>
	
</section>