//==================================================
//	Extend Styles
//==================================================
%verticalCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

%button {
	color: $white;
	background-color: #107c10;
	position: relative;
	display: block;
	border-radius: 5px;
	box-shadow: none;
	border: none;
	width: 124px;
	height: 33px;
	font-size: 13px;
	padding: 0;
	@media only screen and (min-width: 660px) {
		width: 148px;
		height: 45px;
	}
	.text {
		@extend %verticalCenter;
		left: 0;
		right: 0;
		width: 100%;
	}
}